<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper实际上就是接口的实现类，namespace的名称为对应Mapper接口或者Dao接口的完整包名，XML根据这个名称生成动态代理类，必须一致！-->
<mapper namespace="com.test.mybatis.dao.UserDao">
    <!--接口中的方法名与映射文件中SQL语句id属性对应，parameterType参数可以省略，自动推断
    mybatis参数符号#{key}来源于 1、定义的参数名称 2、对象中的属性 3、map中的key值
    #{}和${}区别，#{}是占位符，预编译处理，${}是变量，直接进行字符串连接，存在sql注入风险，${}一般用于替换列名或表名-->
    <select id="getUserById" resultType="com.test.mybatis.pojo.User">
        select id, name, age
        from mybatis.user
        where id = #{id}
    </select>

    <!--resultType是数据库中一行记录的类型-->
    <select id="getAllUsers"  resultType="com.test.mybatis.pojo.User">
        select id, name, age
        from mybatis.user
    </select>

    <!--直接使用@Param注解中设置的字段，名称必须一致-->
    <select id="getUserByIdOrName" resultType="myUser">
        select id, name, age
        from mybatis.user
        where id = #{id}
          or name = #{name_test}
    </select>

    <!--map的缺陷：阅读性差，传参map时，无法控制传入的map是否存在指定的key-->
    <!--占位符名称为map的key值-->
    <select id="getUserByMap" resultType="testUser">
        select id, name, age
        from mybatis.user
        where id = #{uid}
          or name = #{uname}
    </select>

    <!--直接使用的类中属性名称-->
    <insert id="addUser">
        insert into mybatis.user(id, name, age)
        values (#{id}, #{name}, #{age})
    </insert>

    <update id="updateUser">
        update mybatis.user
        set name=#{name},
            age=#{age}
        where id = #{id}
    </update>

    <delete id="deleteUser">
        delete
        from mybatis.user
        where id = #{id}
    </delete>

    <select id="getUserLikeName" resultType="com.test.mybatis.pojo.User">
        select id, name, age
        from mybatis.user
        where name like #{name}
    </select>

    <select id="getUserWith$" resultType="com.test.mybatis.pojo.User">
        select id, name, age
        from mybatis.user
        where name=${name}
    </select>

    <select id="getUsersWithPageHelper" resultType="com.test.mybatis.pojo.User">
        select id, name, age
        from mybatis.user
    </select>

    <select id="count" resultType="int">
        select count(*)
        from mybatis.user
    </select>
</mapper>