<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--使用多例方式，多例下bean都是在获取时才进行实例化-->
    <!--多例模式下destroy-method方法时不会被执行的，因为不确认执行哪个对象的销毁方法-->
    <bean id="user" class="com.test.User" scope="prototype" init-method="init"
          destroy-method="destroy"/>

    <bean id="myBeanPostProcessor" class="com.test.MyBeanPostProcessor"/>

</beans>