<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--构造器注入不依赖set方法-->
    <bean id="person" class="com.test.bean.Person">
        <!--根据name进行注入-->
        <constructor-arg name="name" value="tom"/>
        <constructor-arg name="age" value="21"/>
    </bean>

    <bean id="person2" class="com.test.bean.Person">
        <!--根据type进行注入-->
        <constructor-arg type="java.lang.String" value="jack"/>
        <constructor-arg type="int" value="18"/>
    </bean>

    <bean id="person3" class="com.test.bean.Person">
        <!--根据index进行注入-->
        <constructor-arg index="0" value="jerry"/>
        <constructor-arg index="1" value="20"/>
    </bean>
</beans>