<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--非静态工厂类-->
    <!--首先实例化非静态工厂类-->
    <bean id="personFactory" class="com.test.factory.PersonFactory"/>
    <!--然后通过非静态工厂类的非静态方法，生成对象-->
    <bean id="person" factory-bean="personFactory" factory-method="getInstance"/>

</beans>