<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--静态工厂类，bean对象的类型实际上是调用getInstance()方法返回值的类型-->
    <bean id="person" class="com.test.factory.PersonStaticFactory" factory-method="getInstance"/>

</beans>